<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link href="/css/app.css" rel="stylesheet" type="text/css">
  <style>
  </style>
</head>
<body>

{{{body}}}


</body>
</html>