<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link href="/css/app.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Nunito" />

  <style>
  </style>
</head>
<body>

{{{body}}}


</body>
</html>